.top {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 70%, /*rgba(22, 22, 22, 0.7) 90%,*/ #161616 100%), url('assets/glide_side_view_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.middle {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 60%, /*rgba(22, 22, 22, 0.7) 90%,*/ #161616 100%), url('assets/glide-framework.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.bottom {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 70%, /*rgba(22, 22, 22, 0.7) 90%,*/ #161616 100%), url('assets/glide_side_view_doors_open.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.thebutton{
  background-color:#02afed;
  opacity:60%;
  transition: opacity 1s;
  border-radius: 10px;
}
.thebutton:hover{
  opacity:100%;
}
