.top {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 70%, /*rgba(22, 22, 22, 0.7) 90%,*/ #161616 100%), url('assets/man desk 2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.middle {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 60%, /*rgba(22, 22, 22, 0.7) 90%,*/ #161616 100%), url('assets/man desk 3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.competitive {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to top, rgba(22, 22, 22, 0.3) 60%, /*rgba(22, 22, 22, 0.7) 90%,*/ #161616 100%), url('assets/talking 2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.bottom {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 70%, /*rgba(22, 22, 22, 0.7) 90%,*/ #161616 100%), url('assets/man desk 4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.bottom2 {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to top, rgba(22, 22, 22, 0.3) 70%, /*rgba(22, 22, 22, 0.7) 90%,*/ #161616 100%), url('assets/talking 1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.bottom3 {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 70%, /*rgba(22, 22, 22, 0.7) 90%,*/ #161616 100%), url('assets/man desk 1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.thebutton{
  background-color:#02afed;
  opacity:60%;
  transition: opacity 1s;
  border-radius: 10px;
}
.thebutton:hover{
  opacity:100%;
}
