.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: url('http://getwallpapers.com/wallpaper/full/5/4/8/330938.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.card1{
  background:url('https://i.redd.it/fj1c64we3ovz.jpg');
}
.card2{
  background: url('https://i.redd.it/fj1c64we3ovz.jpg');
}
.card3{
  background: url('https://i.redd.it/fj1c64we3ovz.jpg');
}
.card4{
  background: url('https://i.redd.it/fj1c64we3ovz.jpg');
}
.card1,.card2,.card3,.card4{
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 10rem;
  padding: 5rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card1 .text-center,.card2 .text-center,.card3 .text-center,.card4 .text-center{
  opacity:25%;
  transition: opacity 1s;
}
.card1:hover .text-center,.card2:hover .text-center,.card3:hover .text-center,.card4:hover .text-center{
  opacity:100%;
}
