.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: url('https://cdn.discordapp.com/attachments/457762757299798018/735159679159631942/unknown.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.mastheadAbout {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: url('assets/mau.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.mastheadm {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background:  linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 60%, /*rgba(22, 22, 22, 0.7) 90%,*/ #0d0000 100%), url('assets/DeskPal painting shot.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.card1{
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('assets/man desk 1.jpg');
}
.card2{
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('assets/man desk 2.jpg');
}
.card3{
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('assets/man desk 3.jpg');
}
.card4{
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('assets/man desk 4.jpg');
}
.card5{
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('assets/VarunHeadshot.jpg');
}
.card6{
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('assets/par.jpg');
}
.card7{
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('assets/MauHeadshot.jpg');
}
.card8{
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('assets/AmyHeadshot.jpg');
}
.card9{
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('assets/RuoshanHeadshot.jpg');
}
.card10{
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('assets/DeskPal Pic.jpg');
}
.card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8,.card9,.card10{
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 10rem;
  padding: 5rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card1 .text-center,.card2 .text-center,.card3 .text-center,.card4 .text-center,.card5 .text-center,.card6 .text-center,.card7 .text-center,.card8 .text-center,.card9 .text-center,.card10 .text-center{
  opacity:25%;
  transition: opacity 1s;
}
.card1:hover .text-center,.card2:hover .text-center,.card3:hover .text-center,.card4:hover .text-center,.card5:hover .text-center,.card6:hover .text-center,.card7:hover .text-center,.card8:hover .text-center,.card9:hover .text-center,.card10:hover .text-center{
  opacity:100%;
}
